body {
	
	}
	table {
		width:350px;
	    margin:100px auto;
	    padding:20px 40px;
	    border:1px solid #ccc;
	    background:rgba(255, 255, 255, 0.77);
	    border-radius: 10px;
	    box-shadow: 0 0 10px #fff;

	}

	input[type="text"], input[type="password"]{
	    border:1px solid rgba(51,51,51,.5);
	    border-radius:10px;
	    padding: 5px;
	    font-size: 15px;
	    line-height: 20px;
	    width: 100%;
	    text-align:center;
	}

	input[type="submit"], input[type="reset"]{
		margin-top: 15px;
	    font-size: 18px;
	    border:1px solid #000;
	    padding:5px 10px;
	    border:1px solid rgba(51,51,51,.5);
	    border-radius:10px;

	    box-shadow: 2px 1px 1px #aaa;
	    cursor:pointer;
	}
	input[type="submit"]:hover, input[type="reset"]:hover{
	    background:#f4f4f4;
	}
	h2 {
		text-align: center;
	}
	table tr td {
	    margin:10px 5px;
	    padding:5px 0;
	    line-height: 30px;
	}